.my-btn {
  padding: 0 var(--regular-padding);
  text-transform: uppercase;
}

.my-btn-link-alike {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 var(--regular-padding);
}
.my-btn-link-alike:hover {
  cursor: pointer;
  background-color: var(--regular-hover-bg-clr);
}

.width-grow {
  flex: auto;
}

/*margin\pagging will be set individually*/
.separator-h {
	border: 3px solid var(--theme-separator-clr);
	border-radius: 3px;
}

