/*===========================================================================*/
/* Кнопки */
/*---------------------------------------------------------------------------*/

.my-btn {
  text-transform: uppercase;
  
  border-style: solid;
/*  border-radius: 0.2rem;*/
  border-radius: var(--regular-border-radius);

  padding: 0 var(--regular-padding);
}
.my-btn:focus, .my-btn.focus {
/*  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);/*голубой контур вокруг последней-кликнутой кнопки. выглядит не очень*/
}


.btn-regular {
  color: var(--button-font-clr);
  background-color: var(--button-background-clr);
  border-color: var(--button-border-clr);
}
.btn-regular:hover {
  color: var(--button-hover-font-clr);
  background-color: var(--button-hover-background-clr);
  border-color: var(--button-hover-border-clr);
}
.btn-regular.disabled, .btn-regular:disabled {
  color: var(--button-font-clr);
  background-color: var(--button-background-clr);
  border-color: var(--button-border-clr);
}


.btn-link-alike {
  padding: 0 var(--regular-padding);
/*  background: no-repeat url("./images/arrow-r-curved.png");*/
}
.btn-link-alike {
  color: var(--link-font-clr);
  background-color: var(--link-background-clr);
  border-color: var(--link-border-clr);
}
.btn-link-alike:hover {
  color: var(--link-hover-font-clr);
  background-color: var(--link-hover-background-clr);
  border-color: var(--link-hover-border-clr);
}
.btn-link-alike.disabled, .btn-link-alike:disabled {
  color: var(--link-font-clr);
  background-color: var(--link-background-clr);
  border-color: var(--link-border-clr);
}
.btn-link-alike > img {
/*  vertical-align: baseline;*/
  vertical-align: middle;
}

.btn-special {
  color: var(--btn-special-font-clr);
  background-color: var(--btn-special-background-clr);
  border-color: var(--btn-special-border-clr);
}
.btn-special:hover {
  color: var(--btn-special-hover-font-clr);
  background-color: var(--btn-special-hover-background-clr);
  border-color: var(--btn-special-hover-border-clr);
}
.btn-special.disabled, .btn-special:disabled {
  color: var(--btn-special-font-clr);
  background-color: var(--btn-special-background-clr);
  border-color: var(--btn-special-border-clr);
}

/*---------------------------------------------------------------------------*/
/* Общие стили  */
/*---------------------------------------------------------------------------*/

.width-grow {
  flex: auto;
}

/*margin\pagging will be set individually*/
.separator-h {
	border: 3px solid var(--theme-separator-clr);
	border-radius: 2px;
}

a {
  color: var(--link-font-clr);
}
a:hover {
  color: var(--link-hover-font-clr);
}

.overlaid {
  border: var(--regular-border);
  background-color: var(--page-background-clr);/*по умолчанию фон наследуется от parent. если навигация всплывающая то фон по умолчанию прозрачный*/
  padding: var(--regular-padding);
  z-index: 10100;
}

.close-icon {
  width: 1rem;
  height: 1rem;
}
/*===========================================================================*/
