/*===========================================================================*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-name {
  flex-basis: auto;
  font-size: 120%;
  padding-left: var(--regular-padding);
}

/*===========================================================================*/
