header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-name {
  flex-basis: auto;
  font-size: 120%;
  padding-left: var(--regular-padding);
}

.nav-icon {
  flex-basis: 1.5rem;
  margin-left: auto;/*simulate float:right*/
}
.nav-icon img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;/*adjusted visually*/
}

.nav-responsive {
  margin-left: auto;/*simulate float:right*/
}