/*===========================================================================*/

.content-row {
  position: relative;
  
  /*имеет смысл только на больших экранах. Лучшая альтернатива body  min-height: 100%;*/
/*  min-height:100vh !important;*/
}

/*
.content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width:100%;
}
*/
/*---------------------------------------------------------------------------*/
/*ввод адреса с подсказками, кнопка добавления адреса*/
/*---------------------------------------------------------------------------*/
label.address {
  display: flex;

  /*на совсем небольших экранах поле ввода и кнопку можно расположить в одну линию 
  т.к область которую они занимают становится шириной с экран*/
  flex-direction: row;
  /*flex-direction: column;*/
  
  align-items: stretch;/*тот же эффект что назначить каждому вложенному элементу width: 100%;*/
/*  flex-wrap: wrap;/*похоже на responsive НО иногда накладывается на следующую область справа*/
  /*без этого ширина = ширина самого широкого элемента (input) -> может накладываться на следующую область справа*/
/*  width: 100%;*/

  /*для отладки*/
/*  background-color: lightgray;*/
}
label.address > input {
  border: var(--input-border);
/*  border-style: solid;*/
  border-radius: 0;
  
  background-color: var(--page-background-clr);
}
label.address > input.value-from-suggestion {
  background-color: var(--input-fromlist-background-clr);
}
label.address > button {
  flex: initial;
}

/*
переместить address-suggestions по вертикали вплотную к input
для этого необходимо компенсировать label.margin-bottom = 0.5rem по умолчанию из bootstrap-reboot
*/
.address-wrapper > .anchor-for-absolute-child {
  top: -0.5rem;
}

.address-suggestions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*max-width: 630px;/*не слишком необходимо*/
  z-index: 10;
  
/*скрыть список - по умолчанию*/
  opacity: 0;
  transform: scaleY(0);

/*для отладки - показать список*/
/*  opacity: 1;
  transform: scaleY(1);*/

  transform-origin: top;
/*  transition: transform .15s ease-in-out,opacity .15s ease-in-out;/*Fast*/
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;/*Medium*/
/*  transition: transform 1.0s ease-in-out, opacity 1.0s ease-in-out;/*Slow*/

  border: var(--regular-border);
  border-radius: 0;
/*  border-radius: var(--regular-border-radius);*/
  border-color: var(--suggestions-border-clr);

/*  box-shadow: var(--regular-shadow);*/
  
  padding: 0 var(--regular-padding);

  /*по умолчанию фон прозрачный. эта строчка нужна чтобы сделать фон сплошным*/
/*  background-color: lightgreen;*/
  background-color: var(--suggestions-background-clr);

/*  background-color: inherit;/*not works :( background-color inherited from body and it is transparent by default*/
}

/*
with this class it is possible to switch the drop-down on\off from JS
in a more abstract way
*/
.address-suggestions[data-is-visible] {
  transform: scale(1);
  opacity: 1;
}

.address-suggestions .suggestion {
  padding: .2rem;
/*  color: #3b435c;*/
/*  font-weight: 400;
  font-size: 16px;*/
}

.address-suggestions .suggestion:hover {
  cursor: pointer;
  background-color: white;
  background-color: var(--suggestions-hover-clr);
}

/*keyboard hover*/
.address-suggestions .suggestion[data-is-hovered] {
  background-color: white;
  background-color: var(--suggestions-hover-clr);
}

/*---------------------------------------------------------------------------*/
/*список адресов*/
/*---------------------------------------------------------------------------*/

/*разделитель*/
.content-row .separator-h {
  margin-top: var(--regular-padding);
}

.address-list {
  /*для отладки*/
/*  background-color: lightgray;*/
}

.address-list .header {
  text-transform: uppercase;
}

li.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  cursor: pointer;
/*  background-color: var(--page-background-clr);/*useful then dragging without re-assign to thr new parent*/
  /*для отладки*/
/*  border-color: violet;*/
  padding: 0.3rem 0;
  vertical-align: middle;
}
li.address > .spacer-r {
  margin-left: auto;
}
li.address > img {
/*  margin-left: auto;*/
  width: 1rem;
  height: 1rem;
  /*padding-left:0.5rem;/*poor :(*/
}

.address-list .placeholder {
  /*trello style*/
  background-color: rgba(9, 30, 66, .04);
/*  background-color: darkgray;*/
}

.dragged {
  cursor: grabbing;
  z-index: 1000;
  background-color: var(--page-background-clr);
  /*tre11o style*/
  border-radius: 3px;
  box-shadow: 0 12px 24px -6px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
  transform: rotate(4deg)
}

@keyframes active-fadeout {
  from {
    background-color: var(--active-background-clr);
  }
  
  to {
    background-color: inherited;
  }
}

.item-active-anim {
  animation-name: active-fadeout;
  animation-duration: 2s;
/*  animation-iteration-count: 1;
  animation-direction: alternate;*/
}

/*---------------------------------------------------------------------------*/
/*кнопки Оптимизировать маршрут, Поделиться*/
/*---------------------------------------------------------------------------*/

.address-list-buttons-wrapper {
  display: flex;
  
  /*на совсем небольших экранах поле ввода и кнопку можно расположить в одну линию 
  т.к область которую они занимают становится шириной с экран*/
  flex-direction: row;
/*  flex-direction: column;*/

  align-items: stretch;
/*  flex-wrap: wrap;/*похоже на responsive НО иногда накладывается на следующую область справа*/

  /*для отладки*/
/*  background-color: lightgray;*/
}

/*---------------------------------------------------------------------------*/
/*карта LeafLet*/
/*---------------------------------------------------------------------------*/

.map-section {
  padding: 0;
}

.map-section .map {
  width: 100%;
  height: 100%;
}

/*===========================================================================*/
