
.overlay {
  /*core Overlay functionality*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
}

/*can have an arbitrary WH*/
.popup {
  /*core Popup functionality*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 0;/*for full-height inner spacing*/
/*  padding-bottom: var(--regular-padding-inner);/*only for half-height inner spacing*/
}
.popup > * {
  margin-bottom: var(--regular-padding);
}
.popup > header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.popup .close-icon {
/*  align-self: flex-end;/*poor*/
  margin-left: auto;
}



.social-networks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-network {
  width: 90px;
  padding-right: 10px;
  margin-right: 10px;
}
.social-network .icon {
  margin-bottom: 10px;
}
.social-network p {
  overflow: hidden;
}


.link-to-share {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: var(--regular-padding);

  border-radius: var(--regular-border-radius);
  border: var(--share-link-url-border);
  background-color: var(--share-link-url-background-clr);
}
.link-to-share > p {
  margin-right: var(--regular-padding);
/*  border: var(--regular-border);*/

  /*не разбивать на строки и скрыть строку если выступает за пределы*/
  white-space: nowrap;
  overflow: hidden;
  max-width: 10rem;
}
.link-to-share > button {
  margin-left: auto;
}
